body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 60px calc(100% - 200px) / 200px calc(100% - 200px);
}

nav {
    background-color: #BAEAE7;
    grid-row: 1;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 20px 150px auto 80px;
    align-items: center;
    align-content: center;
}

nav > h1 {
    color: #9782B2;
    grid-column: 2;
}
